<style>
  .container {
    width: 800px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }

  span {
    margin: 10px;
  }
</style>

<div class="container">
  <span>Olá {{name}}</span>
  <br>
  <span>Você solicitou alteração de senha. Para realizar a troca, clique no link <a href={{link}}>{{link}}</a></span>
  <br>
  <span>Caso não tenha sido você que tenha solicitado esta alteração, ignore esta mensagem, mas recomendamos que você altere sua senha no sistema</span>

  <br>
  <strong>Obrigado</strong>
  <br>
  <h3>Equipe | <strong>Rentcar</strong></h3>
</div>